*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:lightslategrey

}

.container{
  width: 100%;
  text-align: center;

}
header{

}

.bloco-list{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  font-size: 1.2rem;
  /* background-color: red; */
  color: black;
 
}

.bloco-card-list{
  /* background-color:aqua; */
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
 }

.card-list{
  width: 80%;
  min-height: 30px;
  background-color: rgba(253, 253, 253, 0.582);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding:10px;
  border-radius: 10px;
}

.bloco-input{
  width: 100%;
  display: flex;
  justify-content: center;
}

.bloco-input img{
  width: 30px;
  height: 30px;
  margin: 10px;
}
.bloco-input input{
  background-color:rgba(240, 248, 255, 0.007);
  border:none;
  outline: 0;
  text-align: center;
}
